PORT=5001
CLIENT_ORIGIN=http://localhost:5173
AI_SERVICE_URL=http://ai_services:8000
MONGO_URI=mongodb+srv://gauravostro15_db_user:<db_password>@cluster0.mfpzmih.mongodb.net/thisscribe?retryWrites=true&w=majority&appName=Cluster0
